<div class="span-3 prepend-4">
	
	<h3>Anmelden</h3>
	
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="span-5">

	<%= f.label :email, "E-Mail" %><br />
	<%= f.text_field :email, :class => 'text span-5' %>
	
</div>

<div class="span-5">

	<%= f.label :password, "Passwort" %><br />
	<%= f.password_field :password, :class => 'text span-5' %>
	
</div>

<div class="span-7 last">

	<%= f.submit "Anmelden", :style => "margin-top: 26px;" %>

</div>

<div class="span-10 prepend-7 append-7 last">
	
	<% if devise_mapping.rememberable? -%>
		<%= f.check_box :remember_me %> <%= f.label :remember_me, "Auf diesem Computer angemeldet bleiben" %>
	<% end -%>
	
	<p style="margin-top: 26px;"><%= render :partial => "devise/shared/links" %></p>

<% end %>

</div>